__pycache__
*.pyc
*.log
.env
.coverage*
.venv
src/staticfiles
site
src/db/db.sqlite3
db.sqlite3-shm
db.sqlite3-wal
.vscode
.agents
AGENTS.md
.claude
CLAUDE.md
requests.http
TODO.txt
.codex
.cache
.ruff_cache
.pytest_cache
.djlint
.gitignore
